.mainBoard{
    background-color: #F5F8FE !important;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-bottom: 3rem;
}
.mainNav{
    padding: 1rem;
    box-shadow:  rgba(100, 100, 111, 0.066) 0px 7px 29px 0px;
    height: 119px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}

.boardBtn{
    display: flex;
    gap: 2rem;
}

.createTeam{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    width: 164px;
    height: 56px;
    border-radius: 4px;
    font-weight: 600;
    color: var(--primary-color);
    cursor: pointer;
}

.createTeam:hover{
    background-color: var(--primary-color);
    color: white;
    transition: background-color 0.5s;
}

.inviteEmployee{
     background-color: var(--primary-color);
    border: none;
    width: 164px;
    height: 56px;
    border-radius: 4px;
    font-weight: 600;
    color: white;
    cursor: pointer;

}

.inviteEmployee:hover{
    transform: scale(0.8);
    transition: transform 0.4s;
}

.picBox{
    width: 52px;
    height: 48px;
    background-color: #dee9ff;
    border-radius: 100%;
}

.profileBoard{
    width: 95%;
    height: 40vh;
    background-color: white;
    margin: 0 auto;
    box-shadow: rgba(100, 100, 111, 0.046) 0px 7px 29px 0px;
    padding: 1rem 3rem;
    box-sizing: border-box;
    display: flex;
    gap: 30%;
    /* justify-content: space-between; */
    align-items: center;
    align-content: flex-start;
}

.leftBoard{
    display: flex;
    gap: 3rem;
    align-items: center;
    align-content: flex-start;

}

.ppBoard{
    background-color: #F5F8FE;
    width: 186px;
    height: 186px;
    border-radius: 100%;
    

}

.ppBoard .rmPP{
     width:186px;
  height:186px;
  object-fit:cover;
  border-radius:50%;
  margin: 0;
}



.ppBoard span{
    position: relative;
    float: right;
    margin-top: -30%;
    /* margin-top: 70%; */
    cursor: pointer;
}

.profileInfo{
    display: flex;
    flex-direction: column;
}

.profileInfoHead{
   text-align: left;

}

.profileInfoHead h2{
    font-weight: 600;
    font-size: 32px;

}

.profileInfoHead p{
    margin-top: -1.3rem;
    font-size: 14px;
    color: #8790A3;
    font-weight: 400;
}
.otherInfo {
    display: flex;
    gap: 1rem;
}

.otherInfo p{
    font-size: 14px;
    color: #8790A3;
    font-weight: 400;
}

.otherInfo .valInfo p{
    
    color: black;
    font-weight: 400;
    
}

.editInfo{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    width: 101px;
    height: 56px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 18px;
    color: var(--primary-color);
    cursor: pointer;
    float: right;
    clear: left;
    margin-top: -40px;
}

.slot{
    display: flex;
    gap: 2rem;
}
.slotSub{
    display: flex;
    gap: 8rem;
}

.linkDashBoard{
     width: 95%;
    height: 9vh;
    background-color: white;
    margin: -2rem auto;
    box-shadow: rgba(100, 100, 111, 0.046) 0px 7px 29px 0px;
    padding: 1rem 3rem;
    box-sizing: border-box;
    display: flex;
    gap: 60px;
    /* justify-content: space-between; */
    align-items: center;
    align-content: flex-start;
    text-decoration: none;
}

.linkDashLink{
    list-style-type: none;
    text-decoration: none;
    color: black;
    font-weight: 200; 
    font-size: 14px; 
}

.hoverLink{
font-weight: 700;
  position: relative;
  z-index : 1;
  /* background: #eee; */
}
.hoverLink:before{
    content : "";
  position: absolute;
  left    : 0;
  bottom  : -2px;
  height  : 1px;
  width   : 80%;  /* or 100px */
  border-bottom:2px solid #FF22FF;
}

.mdashboard{
    width: 95%;
    height: 90vh;
    background-color: white;
    margin: -1.2rem auto;
    box-shadow: rgba(100, 100, 111, 0.046) 0px 7px 29px 0px;
    padding: 1rem 3rem;
    box-sizing: border-box;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center ;
}

.emptyState{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
    margin: 0 auto;
}

.emptyState h4{
    font-weight: 600;
    font-size: 32px;
    /* margin-top: rem; */
}

.emptyState p{
    font-weight: 400;
    font-size: 16px;
}

.successState{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 3rem;
    padding-top: 3rem;
}

.successState img{
    width: 152px;
    height: 152px;
    margin-bottom: 1rem;
}

.successState p{
    font-size: 16px;
}