.table {
  border-collapse: collapse;
  border: none;
  width: 100%;
  text-align: center;
}

.tableRowHeader {
  background-color: transparent;
  transition: all 0.25s ease;
  border-radius: 10px;
  text-align: center;
}

.tableHeader {
  background-color: #f1f1f1;
  padding: 12px;
  font-weight: 600;
  text-align: center;
  font-size: 16px;
  
}

/* .tableHeader:first-child {
  border-top-left-radius: 15px;
}

.tableHeader:last-child {
  border-top-right-radius: 15px;
} */

.tableRowItems {
  cursor: pointer;
  border-bottom: 1px solid #EEF1FF;
  text-align: center;
}

/* .tableRowItems:nth-child(odd) {
  background-color: #f9f9f9;
} */

.tableCell {
  padding: 12px;
  font-size: 14px;
  text-align: center;
}

.nameData{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-align: center;
    justify-content: center;
}

.nameData:last-child p{
    margin: 0;
}

.nameData:last-child p:first-of-type{
    color: #5C00DD;
    font-size: 14px;
    font-weight: 600;
}

.nameData:last-child:last-child{
     font-size: 10px;
    font-weight: 400;
    color: #BBC4D9;
}

.gradeCell{
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.gradeCell div{
    color: #BBC4D9;
    font-size: 1.5rem;
    text-align: center;
}

.gradeCellSub{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    text-align: center;
}

.gradeCellSub div{
    color: #BBC4D9;
    font-size: 1.5rem;
    text-align: center;
}

.nameImage{
     width: 52px;
    height: 48px;
    border-radius: 50%;
    object-fit: contain;
}