.homeHero{
    background-attachment: fixed;
    background: url('../Assets/Images/home-hero-background.png');
    height: 820px;
    background-size: 100% 100%;
    
    /* width: auto; */
    
}
.heroContent{
    display: flex;
    align-items: flex-start;
    gap: 10rem;
    justify-content: center;
    padding: 48px;
}
.leftContent{
    width: 617px;
    text-align: left;
    gap: 1.5rem;
}

.leftContent h1{
    font-size: 60px;
    text-align: left;
    line-height: 67px;
    font-weight: 600;
    font-stretch: condensed;
    letter-spacing: 0px;
    /* height: 245px; */
}

.leftContent p{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}


