.videoContainer {
    background-image: url("https://res.cloudinary.com/henrybee558/image/upload/v1660775159/hero_ksg3bb.svg");
    height: 500px;
    width: 450px;
    background-position: center;
    background-repeat: no-repeat;
}



.section h2 {
    text-align: center;
    font-size: 1.2rem;
    margin: 15px 0;
}

.section p {
    margin: 5px 0 20px 0;
}

.flexContainer {
    display: flex;
    font-family: 'Inter', sans-serif;
    padding: 0 35px;
    justify-content: space-around;
    margin: 30px 0;
}

.textSection {
    /* background: red; */
}

.videoSection {
    /* background: green; */
}

.textSection h1 {
    font-weight: 800;
    width: 80%;
    font-size: 4rem;
    margin: 15px 0;
}

.textSection p {
    font-weight: 500;
    width: 63%;
    margin: 15px 0;
    line-height: 25px;
}

.textSection button {
     outline: none;
    padding: 15px 50px;
    border-radius: 4px;
    cursor: pointer;
     background: #5C00DD;
    color: #fff;
    border: none;
    /* margin: 0 7px; */
    border: 2px solid #5C00DD;
    margin: 15px 0;
}

.body {
    position: relative;
}

.vector {
    position: absolute;
    top: 93%;
    width: 13%;
}

.purple {
     position: absolute;
    top: 98%;
    left: 78%;
}

.featuredSection {
    margin: 150px 0 0 0;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    padding: 30px 310px;
    background: #F5F5F5;
}

.featuredSectionHeader {
  text-align: center;
  font-weight: 700;
   margin: 40px 0;
}

.featuredSectionparagraph {
   
    margin: 30px 0 70px 0;
}

.sectionFlex {
    display: flex;
}
 .section {
    margin: 0 15px;
 }

 .section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }

 .section button {
    outline: none;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
     background: #5C00DD;
    color: #fff;
    border: none;
    /* margin: 0 7px; */
    border: 2px solid #5C00DD;
 }

 .firstCon, .secondCon {
    padding: 0 35px;
    display: flex;
 }

 .secondCon {
    margin: 20px 0;
 }

 .cultureSection {
    
    
 }

 .culture {
font-family: 'Inter', sans-serif;
background: #F5F5F5;
 }

 .middle {
    margin: 0 30px;
 }

 .subSection {
   /* Colors/white */
   padding: 40px 0 40px 20px;
width: 32%;
background: #FFFFFF;
/* card */

box-shadow: -4px 1px 30px rgba(28, 44, 64, 0.1);
border-radius: 4px; 
 }

 .subSection img {
    margin: 10px 0;
 }

 .subSection h2 {
    font-size: 1rem;
 }

 .cultureHeader {
    text-align: center;
    font-size: 2.5rem;
    width: 50%;
    margin: 0 0 50px 0;
 }

 .cultureParagraph {
     font-size: 1.3rem;
    width: 50%;
    text-align: center;
    margin: 0 0 50px 0;
 }

 .textHolderCulture {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .cultureAlignment {
    height: 50vh;
    background:linear-gradient(0deg, #5c00ddd8, #5c00ddd8), url("https://res.cloudinary.com/henrybee558/image/upload/v1660826124/bg_eybsyh.svg");
    background-size:cover;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 50px 0 0 0;
 }

 .cultureAlignment h1 {
    font-size: 3rem;
    color: #FFFFFF;
    font-weight: 700;
    width: 45%;
    text-align: center;

 }

 .cultureAlignment .buttonHolder {
    margin: 30px 0 0 0;
 }

  .cultureAlignment .buttonHolder button {
    outline: none;
    padding: 15px 50px;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 10px;
  }

  .cultureDemo {
    background: #FFFFFF;
    color: #5C00DD;
    border: 2px solid #ffffff;
  }

  .culturePrice {
    color: #fff;
    background: transparent;
    border: 2px solid #ffffff;
  }




@media screen and (max-width: 900px) {
     .cultureAlignment .buttonHolder button {
      width: 100%;
      padding: 15px 0;
      margin: 10px 0;
     }
    .cultureAlignment {
        height: 50vh;
    }
    .cultureAlignment h1 {
      width: 100%;
      font-size: 1.5rem
    }
    .cultureHeader  {
        width: 100%;
        font-size: 1.5rem;
        margin: 40px 0;
    }

    .cultureParagraph {
         width: 100%;
        font-size: 0.9rem;
        margin: 20px 0;
    }
    
    .flexContainer {
        flex-direction: column;
        padding: 0 10px;
    }
    .textSection h1 {
    font-weight: 800;
    width: 100%;
    font-size: 2.5rem;
}

.textSection p {
    font-weight: 500;
    width: 100%;
}
.vector {
    display: none;
}
.purple{
    display: none;
}
.videoContainer {
    width: 100%;
    height: 400px;
}
.featuredSection {
    margin: 50px 0 0 0;
    padding: 20px 10px;

    height: 150vh;
}

.sectionFlex {
    flex-direction: column;
}

.section {
    margin: 20px 0;
    align-items: center;
}

.section h2 {
    text-align: center;
    font-size: 1rem;
    margin: 5px 0;
}

.section p {
    margin: 5px 0;
}

.section img {
    width: 100%;
}

.firstCon, .secondCon {
    padding: 0;
    flex-direction: column;
}

.middle {
    margin: 0;
}

.subSection {
    width: 100%;
    margin: 15px 0;
}

.culture {
     padding: 0 10px;
}

}