.scMain{
    /* height: 80vh; */
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 2rem;
}

.scMain h1{
    font-size: 48px;
    font-weight: 600;
}

.scMain h2{
    font-size: 32px;
    font-weight: 600;
    width: 439px;
    height: 78px;
    margin: 0 auto;
    margin-top: 3rem;
}

.socialContacts{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

.scContacts{
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: 351px;
    height: 120px;
    padding: 1rem 0.1rem;
    box-sizing: border-box;
    border-radius: 4px;
   
}

.scContacts div{
    text-align: left;
    /* margin: auto;
    height: fit-content; */
}

.scContacts div h4{
    margin: 0;
}
.scContacts div p{
    margin: 0;
    font-weight: 100;
}

.formBoxes{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
}

.formBoxes label{
    font-size: 14px;
    font-weight: 400;
}

.formBoxes span{
    font-size: 12px;
    color: red;
}

.eyeShow{
    font-size: 1rem;
    color: #8790A3;
    align-self: center;
    position: relative;
    float: right;
    top: -2rem;
    cursor: pointer;
    right: -25rem;      
    /* margin-left: -100px; */
    /* float: left; */
}

.inputField{
    width: 440px;
    height: 48px;
    border-radius: 4px;
    border: 1px solid #8790A3;
    box-sizing: border-box;
    padding-left: 0.8rem;
}

.mainScForm{
    margin: 0 auto;
    width: fit-content;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.contactBtn{
    width: 100%;
    height: 56px;
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    padding: 0;
}

.cfForm{
    padding: 5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    width: fit-content;
    margin: 0 auto;

}
.cfBlurObject{
   background-color: rgba(92, 0, 221, 0.712);
   width: 200px;
   height: 200px; 
   filter: blur(12rem);
   position: absolute;
   /* z-index: -15; */
   top: 60rem;
   /* bottom: -80rem; */
}

.userVerify{
    margin: 0 auto;
    width: fit-content;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
   /* line-height: -0.1rem; */
}

.userVerify h3{
    font-weight: 700;
    font-size: 40px;
    color: #5C00DD;
    margin-bottom: 0;
}

.welcome{
    line-height: 4px;
}