.main {
  padding: 0 0 7rem;
  position: relative;
}

.content {
  box-sizing: border-box;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2.5rem;
}

.content h3 {
  font-weight: 700;
  font-size: 32px;
  max-width: 450px;
  text-align: center;
  margin: 0 auto 20px;
}

.pText {
  max-width: 565px;
  margin: 0 auto 30px;
  text-align: center;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 3rem;
  grid-row-gap: 2rem;
}

/* .bgObjectline {
  position: absolute;
  right: 0;
  z-index: -5;
} */

.bgBlurObject {
  background-color: rgba(92, 0, 221, 0.712);
  width: 180px;
  height: 180px;
  filter: blur(16rem);
  position: absolute;
  right: 0;
  z-index: -5;
  top: 0;
}

@media all and (max-width: 900px) {
  .gridContainer {
    grid-template-columns: auto auto;
  }

  .content {
    margin: 0;
    margin-bottom: 2rem;
  }
  .content h3 {
    max-width: 400px;
    font-size: 30px;
    font-weight: 700;
    margin: 0 auto 20px;
  }

  .pText {
    max-width: 400px;
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto 30px;
  }

  /* .bgObjectline {
    display: none;
  } */

  .bgBlurObject {
    width: 322px;
    height: 336px;
    background-color: rgba(92, 0, 221, 0.349);
    bottom: 0;
  }
}

@media all and (max-width: 750px) {
  .main {
    padding: 0 0 4rem;
  }
  .content {
    padding: 0 1.5rem;
  }
  .gridContainer {
    grid-template-columns: auto;
  }
  .bgBlurObject {
    background-color: rgba(92, 0, 221, 0.912);
    width: 180px;
    height: 180px;
    filter: blur(16rem);
    position: absolute;
    left: 0;
    z-index: -5;
    top: 25rem;
  }
}
