.content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0 auto;
    text-align: center;
    align-items: center;
    margin-bottom: 10rem;
}

.content h3{
    font-weight: 700;
    font-size: 32px;
    width: 500px;
}

.pText{
    width: 565px;

}

.gridContainer{
    display: grid;
  grid-template-columns: auto auto auto;
  gap:4rem;
  padding: 10px; 
}

.bgObjectline{
    position: absolute;
    right: 0;
    z-index: -5;
}

.bgBlurObject{
   background-color: rgba(92, 0, 221, 0.712);
   width: 240px;
   height: 240px; 
   filter: blur(16rem);
   position: absolute;
   right: 0;
   z-index: -5;
   bottom: -80rem;
}

@media all and (max-width:900px){
    .gridContainer{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .content{
        margin: 0;
        margin-bottom: 2rem;
    }
    .content h3{
        width: 305px;
        height: 96px;
        font-size: 24px;
        font-weight: 700;
        margin: 0;
    }

    .content p{
        width: 305px;
        height: 63px;
        margin: 0;
        font-size: 14px;
        font-weight: 400;
    }

    .bgObjectline{
        display: none;
    }

    .bgBlurObject{
        width: 322px;
        height: 336px;
        background-color: rgba(92, 0, 221, 0.349);
        bottom: 0;
    }
}