.main {
  padding: 4rem 10rem 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.main h4 {
  font-weight: 700;
  font-size: 24px;
}

.logos {
  display: flex;
  gap: 2rem;
  justify-content: center;
  width: fit-content;
  align-items: center;
}

@media all and (max-width: 900px) {
  .main {
    padding: 3rem;
    display: flex;
  }
  .logos {
    display: grid;
    grid-template-columns: auto auto;
  }
  .logos img {
    max-width: 137px;
  }
}
