.content{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    text-align: center;
    height: auto;
    gap: 2rem;

}
.content h2{
    font-weight: 700;
    font-size: 32px;
}

.content p{
    width: 718px;
    margin: 0 auto;
    font-weight: 400;
    line-height: 24px;
    
}

.tags{
    display: flex;
    gap: 3rem;
    margin: 3rem auto;
}

.bgObjectline{
    position: absolute;
    left: -4rem;
    z-index: -5;
}

.bgBlurObject{
   background-color: rgba(92, 0, 221, 0.712);
   width: 240px;
   height: 240px; 
   filter: blur(16rem);
   position: absolute;
   left: -4rem;
   z-index: -5;
   bottom: -55rem;
}

@media all and (max-width:900px){
    .content{
        display: flex;
        flex-direction: column;
        width: 100vw;
        padding: 0;
    }
    .tags{
        flex-direction: column;
    }
    .bgObjectline{
        display: none;
    }

    .content p{
        width: 305px;
    }
}