.navContainer {
  box-shadow: -4px 1px 30px rgba(28, 44, 64, 0.1);
}

.headers {
  box-sizing: border-box;
  display: flex;
  /* padding: var(--padding-gap); */
  justify-content: space-between;
  font-weight: 600;
  align-items: center;
  max-width: 1330px;
  width: 100%;
  margin: 0 auto;
  padding: 0.8rem 2rem;
}
.sidebar {
  display: none;
}
.links ul {
  list-style: none;
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 1.8rem;
}

.linkTo {
  text-decoration: none;
  font-size: 14px;
  color: black;
}

.linksElement li:hover,
.linkTo:hover {
  color: #ff22ff;
  cursor: pointer;
}

.buttons {
  display: flex;
  gap: 0.6rem;
}

.signUpBtn {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding: 10px 24px;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  color: var(--primary-color);
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.signUpBtn:hover {
  transition: all 0.8s;
  background-color: var(--primary-color);
  color: white;
}

.bookADemo {
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
  padding: 10px 32px;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 600;
  font-size: 14px;
  color: white;
  cursor: pointer;
  font-family: "Inter", sans-serif;
}

.bookADemo:hover {
  transition: 0.4s;
  transform: scale(0.9);
}

.addShadow {
  height: 80px;
  box-sizing: border-box;
}

@media all and (max-width: 950px) {
  .headers {
    display: none;
  }

  .sidebar {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.25rem 2rem;
    justify-content: space-between;
    align-items: center;
  }

  .logoSide {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    width: 100%;
    align-items: center;
    cursor: pointer;
  }

  .linkSide ul {
    list-style: none;
    gap: 3rem;
    color: black !important;
    font-weight: 600;
    padding: 0;
  }

  .linkSide ul li {
    margin: 2rem 0;
    color: black !important;
  }

  .activateSide {
    display: flex;
    flex-direction: column;
    height: 0%;
    transition: 20s;
    position: absolute;
    z-index: 55;
    width: 100%;
    margin-top: 3rem;
    padding: 0;
  }
  .activateSide div {
    background-color: white;
    padding: 1rem;
    text-align: left;
    padding: 1.25rem;
  }

  .buttonSide {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }
  .buttonSide div {
    padding: 0;
  }
}
