video {
  width: 100%;
  /* border: 3px solid red; */
}

.videoWrapper {
  width: 30rem;
  max-width: 700px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  height: 35rem;
}

.videoWrapper:hover .controls {
  transform: translateY(0%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: fit-content; */
  /* border: 3px solid rgb(255, 0, 149); */
  padding: 20px 20px;
}

.controls {
  display: flex;
  /* align-items: center; */
  /* justify-content: space-evenly; */
  position: absolute;
  bottom: -10px;
  padding: 14px;
  width: 100%;
  max-width: 500px;
  /* flex-wrap: wrap; */
  /* background: rgba(255, 255, 255, 0.25); */
  /* box-shadow: 0 8px 32px 0 rgba(255, 255, 255, 0.1); */
  /* backdrop-filter: blur(4px); */
  /* -webkit-backdrop-filter: blur(4px); */
  /* border-radius: 10px; */
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  /* transform: translateY(150%); */
  transition: all 0.3s ease-in-out;
}

.actions {
  background-color: none;
  color: white;
  /* border: 3px solid blue; */
}

.actions button {
  background-color: transparent;
  border: none;
  color: white;
  /* border: 3px solid blue; */
}

.playBtn {
  font-size: 2rem;
  cursor: pointer;
}

.customControl {
  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  /* border: 3px solid blue; */
}

.btnText {
  text-align: left;
}
.btnText p {
  font: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 14px;
}
.btnText p:first-of-type {
  font-weight: 700;
  margin-bottom: -0.5rem;
  font-size: 16px;
}

.courseVideo {
  width: 9170px;
  max-width: 917px;
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  /* border-radius: 10px; */
  /* height: 35rem; */
  height: auto;

  /* border: 3px solid blue; */
}

.courseControls {
  display: flex;

  position: absolute;
  justify-content: center;
  top: 35%;

  width: fit-content;
  margin: 0 auto;
  text-align: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.coursePlayBtn {
  font-size: 8rem;
  cursor: pointer;
}

.courseActions {
  background-color: none;
  color: white;
}

.courseActions Button {
  background-color: transparent;
  border: none;
  color: white;
}

@media all and (max-width: 1000px) {
  .container {
    padding: 0;
    width: fit-content;
    margin: 0 auto;
  }
  video {
    /* width: 304px; */
    margin: 0 auto;
    width: 304px;
    height: 347px;
    padding: 0;
    /* height: 60%; */
    /* margin-left: 5%; */
    /* margin-right: 2rem; */
  }

  .videoWrapper {
    /* width: 25rem; */
    /* width: 100%; */
    text-align: center;
    margin-top: -15rem;
    /*margin-left: -0.1rem; */
    width: fit-content;
    height: fit-content;
    max-width: 700px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 10px;
    /* height: 35rem; */
  }
  .actions {
    color: white;
  }
  .actions button {
    color: white;
    padding: 0;
  }
  .controls {
    position: absolute;
    top: 30%;
    left: 15%;
    width: fit-content;
    height: fit-content;
    padding: 0;
  }
  .customControl {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.1rem;
    padding: 0;
  }
  .btnText {
    text-align: center;
  }
}
