/* .container {
    max-width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    /* padding: 0 10px; */
    /* justify-content: space-around; */
    
/* }  */

/* .body {
    font-family: 'Inter', sans-serif;
} */


/* 
.logoContainer  {
 /* margin: 0 30px; */
 /* margin: 0 0 0 -10px; */
/* } */ */

.linksContainer ul {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    /* margin: 0 60px; */
}


.linksContainer ul li {
    list-style-type: none;
    color: #000;
    font-weight: 600;
    margin: 0 10px;
    cursor: pointer;
}

.buttonContainer button {
    outline: none;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
}

.buttonContainer {
    /* margin: 0 0 0 170px; */
}

.signup {
    color: #5C00DD;
    border: 2px solid #5C00DD;
    margin: 0 7px;
    background: transparent;
}

.demo {
    background: #5C00DD;
    color: #fff;
    border: none;
    margin: 0 7px;
    border: 2px solid #5C00DD;
}

.mobileContainer {
    display: none;
}

@media screen and (max-width: 900px) {
    .container {
        display: none;
    }

    .mobileContainer {
        display: flex;
        height: 10vh;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px ;
    }

    .mobileHeader {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 25px;
    }

    .hamburger {
        cursor: pointer;
    }

    .line {
        width: 30px;
        height: 5px;
        background: #5C00DD;
        margin: 5px 0;
    }

    .mobileContent {
        position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100vh;
 background: white;
  
    }

    .mobileHeader p {
        color: #5C00DD;
        font-size: 2rem;
        cursor: pointer;
    }

    .mobileContent ul {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 25px 30px 25px;
    }

    .mobileContent ul li {
        list-style-type: none;
        list-style: none !important;
        font-weight: 600;
        /* text-align: center; */
        cursor: pointer;
        margin: 15px 0;
    }

    .signup {
    outline: none;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    margin: 7px 55px;
}
.demo{
    outline: none;
    padding: 15px 30px;
    border-radius: 4px;
    cursor: pointer;
    margin: 7px 55px;
    
}



.buttonContainer {
    display: flex;
    flex-direction: column;
}



}