@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  --primary-color: #5C00DD;
  --padding-gap: 1rem;
  --button-height: 56px;
  --button-width: 116px;

}
body {
  margin: 0;
  font-family:  'Inter', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
